 /*for the headings*/
 @import url(https://fonts.google.com/specimen/Poppins);
 /* for the body*/
@import url(https://fonts.google.com/specimen/Open+Sans);


:root{
    Pink: hsl(322, 100%, 66%);
    Light-Pink: hsl(321, 100%, 78%);
    Light-Red: hsl(0, 100%, 63%);
    Very-Dark-Cyan: hsl(192, 100%, 9%);
    Very-Pale-Blue: hsl(207, 100%, 98%);

}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }